//
// Theme style
//

// Mode
$mode: default;

// Initialize
@import "init";

// Components
@import "./core/components/components";
@import "components/components";


// companies card
.flip-card-outer {
    width: 300px;
    height: 400px;
    margin: 25px 0;
  
    &.focus-trigger:focus {
      outline: 5px solid greenyellow;
      outline-offset: 5px;
    }
  
    .flip-card-inner {
      transform-style: preserve-3d;
      transition: .5s linear .1s;
      position: relative;
      width: inherit;
      height: inherit;
  
      &.hover-trigger:hover {
        transform: rotateY(180deg);
      }
  
      &.showBack {
        transform: rotateY(180deg);
      }
    
      .card {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 10px 10px #009EF7;
        border: 2px solid #3E7DC0;
    
        &.front {
          transform: rotateY(0);
          background-color: #f3efe5;
          color: #332b16;
          font-family:Verdana;
          font-weight: 700;

        }
    
        &.back {
          transform: rotateY(180deg);
          background-color: #f3efe5;
          color: #332b16;
          font-family: Verdana;
        }
      }
    }
  }

// Layout
@import "layout/layout";
@import "./core/layout/docs/layout";
